<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">Album example</h1>
		<p class="lead text-muted">Something short and leading about the collection below—its contents, the
			creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it
			entirely.</p>
	</div>
</section>

<section class="album py-5 bg-light">
	<div class="container">
		<div class="row">
			<div *ngFor="let item of news" class="col-md-4">
				<app-news-card [card]="item"></app-news-card>
			</div>
		</div>
	</div>
</section>
